.row{
    background-color:black;
    height: 50px;
}
img{
    position: absolute;
    width: 160px;
    height: 36px;
    float: left;
   background-color: black;
   padding-top: 5px;
}
.container{
    margin: 0px 4rem;
    background-color: rgb(0, 0, 0);
    width: 80%;
    
    height: 36px;
    margin-left: 10%;
    
   
}
.nav{
    display: inline;
}
.nav li{
    display: inline;
    list-style-type: none;
    padding: 17px 0.6rem;
    
    
    
    
   
    
    
}
.hover:hover {
    background-color: rgba(255, 255, 255, 0.351);
}
.freetrial a:hover{
    background-color: white;
    color: black;
}
.try a:hover{
    background-color: rgba(0, 0, 255, 0.753);
}
li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: small;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.nav ul{
    float: right;
    background-color: black;
}
ul li:nth-child(5) a{
    border: 0.1rem solid white;
    padding: 7px;
    border-radius: 5px;
    
}
ul li:last-child a{
    
    padding: 7px;
    border-radius: 5px;
    background-color: blue;
}



